<div id="header">
	<h1>Tech News</h1>
	<p class="lead">Consolidating the important tech news around the world.</p>
</div>
<div class="container" id="content">
	<div class="row">
		<div class="span6">
			<h2><%=image_tag "ycombinator.gif"%>  Hackernews</h2>
			<div id="posts">
				<%@hn.each_with_index do |post,index|%>
					<div class="row-fluid">
						<div class="span1"><i><h6><%=index+1%></h6></i></div>
						<div class="span11">
							<h6><%=link_to post.link.title, post.link.href, class: "livepreview"%></h6>
						</div>
					</div>
				<%end%>	
			</div>
		</div>
		<div class="span6">
			<h2><%=image_tag "gizmodo.jpg"%>  Gizmodo</h2>
			<div id="posts">
				<%@gm.items.each_with_index do |item,index|%>
					<div class="row-fluid">
						<div class="span1"><i><h6><%=index+1%></h6></i></div>
						<div class="span11">
							<h6><%=link_to item.title, item.link, class: "livepreview"%></h6>
						</div>
					</div>
				<%end%>	
			</div>
		</div>
	</div>
</div>