<% title "Technology News"%>
<div id="header">
	<div class="row-fluid">
		<div class="span1">
			<h1><a href=<%=root_path%> id="backbutton"><i class="icon-chevron-left"></i></a></h1>
		</div>
		<div class="span6">
			<h1>Tech News</h1>
			<p class="lead">Consolidating the important tech news around the world.</p>
		</div>
		<div class="span5">
			<%if user_signed_in?%>
				<h5>Signed in as <%=current_user.email%> | <%=link_to "My Bookmarks",bookmarks_path%> | <%=link_to "Sign Out", destroy_user_session_path, method: "DELETE"%></h5>
			<%else%>
				<h5><%=link_to "Sign In", new_user_session_path%> or <%=link_to "Sign Up", new_user_registration_path%></h5>
			<%end%>
		</div>
	</div>
</div>

<div class="container" id="content">
	<%if notice%>
		<div class="alert alert-success"><%= notice %></div>
	<%end%>
	<%if alert%>
		<div class="alert alert-error"><%= alert %></div>
	<%end%>
	<div class="row">
		<div class="span6">
			<h2><%=image_tag "ycombinator.gif"%>  Hacker News</h2>
			<div id="posts">
				<%@hn.each_with_index do |post,index|%>
					<div class="row-fluid">
						<div class="span1"><i><h6><%=index+1%></h6></i></div>
						<div class="span10">
							<h6><%=link_to post.link.title, post.link.href%></h6>
						</div>
						<div class="span1">
							<%=link_to "<i class='icon-bookmark'></i>".html_safe ,remote: true, url: {action:"create", controller:"bookmarks", title: post.link.title.to_s, url: post.link.href.to_s}, method: "POST"%>
						</div>
					</div>
				<%end%>	
			</div>
		</div>
		<div class="span6">
			<h2><%=image_tag "gizmodo.jpg"%>  Gizmodo</h2>
			<%=render partial: "rss", locals:{rss: @gm} %>
		</div>
		<div class="span6">
			<h2><%=image_tag "engadget.png"%>  Engadget</h2>
			<%=render partial: "rss", locals:{rss: @en} %>
		</div>
		<div class="span6">
			<h2><%=image_tag "redmondpie.png"%>  Redmond Pie</h2>
			<%=render partial: "rss", locals:{rss: @rm} %>
		</div>
	</div>
</div>